<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="end">
            <button style="background-color: transparent !important;" ion-button icon-only (click)="dismiss()">
                      <ion-icon style="background-color: transparent !important; font-size:40px !important; color:black !important;" name="close"></ion-icon>
                    </button>
        </ion-buttons> -->
        <ion-title>
            Smart Mirror
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col col-6 col-md-6>
                <ion-item style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label style="color:black; font-size: 20px;">Bolsa</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-md-6>
                <ion-item (click)="CambiarOrden(arreglo[0])" style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label *ngIf="arreglo[0].seleccionado == false" style="color:black; font-size: 20px;">Orden {{arreglo[0]?.order}}</ion-label>
                    <ion-label *ngIf="arreglo[0].seleccionado == true" style="color:red; font-size: 20px;">Orden {{arreglo[0]?.order}} </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 col-md-6>
                <ion-item style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label style="color:black; font-size: 20px;">Clima</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-md-6>
                <ion-item (click)="CambiarOrden(arreglo[1])" style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label *ngIf="arreglo[1].seleccionado == false" style="color:black; font-size: 20px;">Orden {{arreglo[1]?.order}}</ion-label>
                    <ion-label *ngIf="arreglo[1].seleccionado == true" style="color:red; font-size: 20px;">Orden {{arreglo[1]?.order}} </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 col-md-6>
                <ion-item style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label style="color:black; font-size: 20px;">Hora</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-md-6>
                <ion-item (click)="CambiarOrden(arreglo[2])" style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label *ngIf="arreglo[2].seleccionado == false" style="color:black; font-size: 20px;">Orden {{arreglo[2]?.order}}</ion-label>
                    <ion-label *ngIf="arreglo[2].seleccionado == true" style="color:red; font-size: 20px;">Orden {{arreglo[2]?.order}} </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 col-md-6>
                <ion-item style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label style="color:black; font-size: 20px;">Noticias</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-md-6>
                <ion-item (click)="CambiarOrden(arreglo[3])" style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label *ngIf="arreglo[3].seleccionado == false" style="color:black; font-size: 20px;">Orden {{arreglo[3]?.order}}</ion-label>
                    <ion-label *ngIf="arreglo[3].seleccionado == true" style="color:red; font-size: 20px;">Orden {{arreglo[3]?.order}} </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 col-md-6>
                <ion-item style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label style="color:black; font-size: 20px;">Agenda</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-md-6>
                <ion-item (click)="CambiarOrden(arreglo[4])" style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label *ngIf="arreglo[4].seleccionado == false" style="color:black; font-size: 20px;">Orden {{arreglo[4]?.order}}</ion-label>
                    <ion-label *ngIf="arreglo[4].seleccionado == true" style="color:red; font-size: 20px;">Orden {{arreglo[4]?.order}} </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 col-md-6>
                <ion-item style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label style="color:black; font-size: 20px;">Correo</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-md-6>
                <ion-item (click)="CambiarOrden(arreglo[5])" style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label *ngIf="arreglo[5].seleccionado == false" style="color:black; font-size: 20px;">Orden {{arreglo[5]?.order}}</ion-label>
                    <ion-label *ngIf="arreglo[5].seleccionado == true" style="color:red; font-size: 20px;">Orden {{arreglo[5]?.order}} </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 col-md-6>
                <ion-item style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label style="color:black; font-size: 20px;">Música</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-md-6>
                <ion-item (click)="CambiarOrden(arreglo[6])" style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label *ngIf="arreglo[6].seleccionado == false" style="color:black; font-size: 20px;">Orden {{arreglo[6]?.order}}</ion-label>
                    <ion-label *ngIf="arreglo[6].seleccionado == true" style="color:red; font-size: 20px;">Orden {{arreglo[6]?.order}} </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-6 col-md-6>
                <ion-item style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label style="color:black; font-size: 20px;">Servicios del hotel</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6 col-md-6>
                <ion-item (click)="CambiarOrden(arreglo[7])" style="border: 1.5px; width:100%; margin:auto;" lines="none" text-center>
                    <ion-label *ngIf="arreglo[7].seleccionado == false" style="color:black; font-size: 20px;">Orden {{arreglo[7]?.order}}</ion-label>
                    <ion-label *ngIf="arreglo[7].seleccionado == true" style="color:red; font-size: 20px;">Orden {{arreglo[7]?.order}} </ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <br/>

    </ion-grid>


</ion-content>