.filaGadget {
    width: 80% !important;
    margin: auto !important;
}

ion-item.item-native.item-inner {
    --ion-item-border-bottom: 0px !important;
    --border-bottom: 0px !important;
    border-bottom: 0px !important;
}

.item-inner {
    --ion-border-bottom: 0px !important;
    --border-bottom: 0px !important;
}