<ion-header>
    <ion-toolbar>
        <ion-title>
            Smart Mirror
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div text-center>
        <h1>LOGUEO CON GOOGLE</h1>
        <h2 *ngIf="logeado == true">{{nombre}}</h2>
        <h2 *ngIf="logeado == true">{{correo}}</h2>
        <br/>
    </div>

    <ion-grid>
        <ion-row *ngIf="logeado == false">
            <ion-col col-12 col-md-12>
                <ion-item>
                    <ion-input placeholder="Número de habitación" [(ngModel)]="numerohabitacion"></ion-input>
                </ion-item>
                <br/>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="logeado == false">
            <ion-col>
                <ion-button class="log-in-button" color="danger" expand="block" (click)="doGoogleLogin()">
                    GOOGLE
                </ion-button>
            </ion-col>
        </ion-row>
        <!-- <div *ngIf="logeado == true" text-center>
            <ion-button style="margin:auto !important; border-radius: 50px;" (click)="startGrabation()" color="primary" shape="round">
                <ion-icon style="color:white !important;" name="mic"></ion-icon>
            </ion-button>
            <br/>
        </div> -->
        <br/>
        <div *ngIf="logeado == true">
            <ion-row *ngFor="let obj of arreglo" class="filaGadget">

                <ion-col col-8>
                    <ion-item (click)="abrirOrden(obj.order)" style="border: 0px; width:100%;" lines="none">
                        <ion-label>{{obj?.description}}</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col col-4>
                    <ion-item style="border: 0px; width:100%;" lines="none">
                        <ion-toggle [checked]="obj.isActive" [(ngModel)]="obj.isActive" slot="end" id="{{obj?.gadgetId}}"></ion-toggle>
                    </ion-item>
                </ion-col>

            </ion-row>
        </div>
        <br/>

    </ion-grid>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row *ngIf="logeado == true">
            <ion-col>
                <ion-button class="log-in-button" color="primary" expand="block" (click)="actualizargadgets()">
                    ACTUALIZAR GADGETS
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="logeado == true">
            <ion-col>
                <ion-button class="log-in-button" color="danger" expand="block" (click)="logout()">
                    CERRAR SESIÓN
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>